*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container-one{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 20px 0px;
}
.container-one nav a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border-bottom: 3px solid white;
}
.container-one nav a:hover{
    color: blueviolet;
    transition: 0.4s;
    border-color: blueviolet;
}


.container-two{
    background-image: url(CREATIVE\ Background.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-two{
    text-align: justify;
    padding-left: 370px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.container-two h1{
    font-size: 60px;
    font-weight: 100;
    color: white;
}
.container-two button{
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: blueviolet;
    color: white;
    margin-top: 30px;
}
.container-two button:hover{
    background-color: white;
    color: navy;
    transition: 0.4s;
}


.container-three h1{
    font-size: 40px;
    text-align: center;
}
.container-three p{
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
.container-three{
    margin-bottom: 100px;
}



.container-four{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
    
}
.container-five{
    width: 260px;
    
}
.container-five h2{
    margin-top: 20px;
}
.container-five p{
    margin-top: 25px;
}
.container-five button{
    margin-top: 25px;
    padding: 7px 25px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    border: 0.1px solid rgb(216, 209, 209);;
    background-color: white;
    font-weight: bold;

}
.container-five button:hover{
    background-color: blueviolet;
    color: white;
    border-color: blueviolet;
    transition: 0.4s;
}




.container-six{
    background-color: rgb(134, 96, 171);
    height: 350px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.container-seven{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-seven img{
    margin-top: -60px;
}
.container-eight{
    width: 550px;
}
.container-eight h1{
    font-size: 40px;
    color: white;
}
.container-eight p{
    margin-top: 20px;
    color: white;
}
.container-eight button{
    padding: 8px 30px;
    border: 0.1px solid white;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: rgb(134, 96, 171);
    font-weight: bold;
    font-size: 16px;
}
.container-eight button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}




.container-nine{
    text-align: center;
    margin-bottom: 100px;
}
.container-nine h1{
    font-size: 40px;
}
.container-nine p{
    margin-top: 20px;
}
.container-ten{
    text-align: center;
    margin-bottom: 50px;
    
}
.container-ten h1{
    margin-top: 50px;
}
.container-ten p{
    margin-top: 20px;
}



.container-eleven{
    background-color: black;
    height: 370px;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.container-twelve{
    display: flex;
}
.container-forty{
    display: flex;
    margin-top: 80px;
}
.container-therty{
    width: 480px;
    margin-top: 100px;
}
.container-therty h1{
    font-size: 33px;
    color: white;
    
}
.container-therty p{
    margin-top: 40px;
    text-align: justify;
    color: white;
}
.parcent h1{
    border: 10px solid blueviolet;
    padding: 55px 50px;
    border-radius: 100%;
    text-align: center;
    color: white;
    
}
.parcent{
    margin-left: 60px;

}
.parcent h2{
    color: white;
    margin-top: 20px;
}



.container-fiften h1{
    font-size: 40px;
    text-align: center;
}
.container-fiften p{
    text-align: center;
    margin-top: 20px;
}
.container-fiften{
    margin-bottom: 100px;
}








.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    

}
.container .box{
    position: relative;
    width: 470px;
    height: 320px;
    transition: 0.5s;
    overflow: hidden;
}
.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgb(0,0,0.5);
}
.container .box .imagebx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .box .imagebx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .box .imagebx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#f00,#000);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover .imagebx:before{
    opacity: 1;
}
.container .box .content{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 20px;


}
.container .box .content h2{
    color: #fff;
    transition: 0.5s;
    margin-bottom: 5px;
    font-size: 30px;
    transform: translateY(250px);
}
.container .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0.6s;
}
.container .box .content p{
    color: #fff;
    transition: 0.5s;
    transform: translateY(250px);
    font-size: 15px;
}
.container .box:hover .content p{
    transform: translateY(0);
    transition-delay: 0.8s;
}





.container-sixten{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    background-color: black;
    padding: 80px 0;
    padding-left: 100px;
    padding-right: 100px;

}
.container-seventen{
    width: 600px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
}
.container-eighten img{
    border-radius: 100%;
    margin-right: 20px;
}
.container-ninten h1{
    margin-top: 15px;
    color: white;
}
.container-ninten h3{
    margin-top: 5px;
    color: white;
}
.container-ninten p{
    color: white;
}
.container-twenty{
    text-align: center;
    margin-bottom: 100px;
}
.container-twenty h1{
    font-size: 40px;

}
.container-twenty p{
    margin-top: 15px;
}





.container-twenty-one{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.container-twenty-two{
    width: 270px;
    
}
.container-twenty-two button{
    padding: 5px 20px;
    background-color: black;
    color: white;
    margin-top: 15px;
    
}
.container-twenty-two h1{
    text-align: justify;
    margin: 15px;
}
